{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block body %}
      
<div class="main-wrap">
  
  {% include "cover.html" %}
  
  
  {% include "services.html" %}

  
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center"  data-aos="fade-up">
          <h2 class="mb-4">Nuestros Platos</h2>
          <p class="lead">Somos lo que comemos. Todos nuestros platos son lo que nosotros desearíamos comer en el mejor de los sitios.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section pt-0 pb-0">

    <div class="menus d-flex bg-light">

      {% for meal in meals|slice:"3" %}
      <div class="d-flex item">
        <div class="image" style="background-image: url({{meal.image.url}});" data-aos="fade"></div>
        <div class="text">
          <h3>{{ meal.name }}</h3>
          <p>{{ meal.description | truncatewords:30 }}</p>
          <p class="price">€{{ meal.price }}</p>
        </div>
      </div>
      {% endfor %}

      {% for meal in meals|slice:"3:" %}
      <div class="d-flex item">
        <div class="image order-2" style="background-image: url({{meal.image.url}});" data-aos="fade" data-aos-delay="300"></div>
        <div class="text order-1 mb-3">
          <h3>{{ meal.name }}</h3>
          <p>{{ meal.description | truncatewords:30 }}</p>
          <p class="price">€{{ meal.price }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div> 

  {% include "customers.html" %}

  <div class="site-half-wrap d-block d-lg-flex">
    <div class="block-half" data-aos="fade">
      <div class="image-bg-fullwidth" style="background-image: url({% static 'site_static/img/img_1.jpg' %});"></div>
      <div class="half d-block d-lg-flex">
        <div class="text">
          <h2 class="mb-4">El Medio Menú</h2>
          <p class="mb-4 half-text">Aquí nos preocupa la calidad ante todo. Desde el concepto inicial, hasta el producto terminado. Nuestra atención al detalle no tiene comparación. Café Cuqui siempre te lleva a la mesa el mejor café que puedas llegar a imaginar.</p>
          <p><a href="{% url 'meals:meals' %}" class="btn btn-primary btn-outline-primary">View All Menu</a></p>
        </div>
        <div class="image" style="background-image: url({% static 'site_static/img/img_2.jpg' %});"></div>
      </div>
    </div>
    <div class="block-half"  data-aos="fade">
      <div class="half d-block d-lg-flex">
        <div class="text">
          <h2 class="mb-4">Nosotros</h2>
          <p class="mb-4 half-text">No basta tener los mejores granos, sino que también baristas experimentados para sacarle el mejor provecho. En Café Cuqui te servimos el café de la manera más entretenida para que puedas empezar el día de la mejor manera.</p>
          <p><a href="{% url 'about:about' %}" class="btn btn-primary btn-outline-primary">Conócenos</a></p>
        </div>
        <div class="image" style="background-image: url({% static 'site_static/img/chef_1.jpg' %});"></div>
      </div>
      <div class="image-bg-fullwidth" style="background-image: url({% static 'site_static/img/autumn.jpg' %});"></div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8" data-aos="fade-up">

          <h2 class="mb-5 text-center">Lista de Precios</h2>

          <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{%endif%}" id="{{ category.name }}-tab" data-toggle="pill" href="#{{ category.name }}" role="tab" aria-controls="{{ category.name }}" aria-selected="true">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="tabContent">

            {% for category in categories %}

            <div class="tab-pane {% if forloop.first %}active{%endif%} fade show" id="{{ category.name }}" role="tabpanel" aria-labelledby="{{ category.name }}-tab">
              
              {% for meal in meals %}
                {% if meal.category == category %}
                <div class="d-block d-md-flex menu-food-item">
                  <div class="text order-1 mb-3">
                    <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{ meal.name }}</a></h3>
                    <p>{{ meal.description }}</p>
                  </div>
                  <div class="price order-2">
                    <strong>€{{ meal.price }}</strong>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            {% endfor %}
            
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5" data-aos="fade-up">
        <div class="col-md-8  text-center">
          <h2 class="mb-3">Visítanos</h2>
          <p class="lead">Te invito a tomar un café y a bebernos la vida a punta de historias.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"  data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'site_static/img/chef_2.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
        </div>
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="accordion" id="accordion">
            
            {% for choose_us in choose %}
              <div class="accordion-item">
                <h3 class="mb-0">
                  <a class="btn-block p-3" data-toggle="collapse" href="#collapse{{ choose_us.id }}" role="button" aria-expanded="{% if forloop.first %}true{%else%}false{%endif%}" aria-controls="collapse{{ choose_us.id }}">{{ choose_us.title }} <span class="icon"></span></a>
                </h3>
                <div id="collapse{{ choose_us.id }}" class="{% if forloop.first %}show{%else%}collapse{%endif%}" aria-labelledby="heading{{ choose_us.id }}" data-parent="#accordion">
                  <div class="p-3">
                    <p>{{ choose_us.content }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}