{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="main-wrap">
  
  {% include "cover.html" %}


  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8" data-aos="fade-up">

            <img class="meal_img" src="{{ meal.image.url }}" alt="">
        
            <h2>{{ meal.name }}</h2>

            <p>{{ meal.description }}</p>

            <p>Para: {{ meal.people }} persona{{ meal.people | pluralize }}</p>

            <p>Preparación: {{ meal.preparation_time }} minutos</p>

            <p>Precio: €{{ meal.price }}</p>

        </div>
      </div>
    </div>
  </div>

</div> <!-- .main-wrap -->
      
{% endblock body %}