{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="main-wrap">
  
  {% include "cover.html" %}


  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8" data-aos="fade-up">

          <h2 class="mb-5 text-center">Lista de Precios</h2>

          <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{%endif%}" id="{{ category.name }}-tab" data-toggle="pill" href="#{{ category.name }}" role="tab" aria-controls="{{ category.name }}" aria-selected="true">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="tabContent">

            {% for category in categories %}

            <div class="tab-pane {% if forloop.first %}active{%endif%} fade show" id="{{ category.name }}" role="tabpanel" aria-labelledby="{{ category.name }}-tab">
              
              {% for meal in meals %}
                {% if meal.category == category %}
                <div class="d-block d-md-flex menu-food-item">
                  <div class="text order-1 mb-3">
                    <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{ meal.name }}</a></h3>
                    <p>{{ meal.description }}</p>
                  </div>
                  <div class="price order-2">
                    <strong>${{ meal.price }}</strong>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            {% endfor %}
            
        </div>
      </div>
    </div>
  </div>

</div> <!-- .main-wrap -->
      
{% endblock body %}