{% load static %}

<div class="section" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center text-center" data-aos="fade-up">
        <div class="col-md-8">
          <div class="owl-carousel home-slider-loop-false">

          
            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;Sólo quiero una taza de café, caliente y negro, y no quiero escuchar tus problemas&rdquo;.</p>
                <div class="author">
                  <img src="{% static 'site_static/img/person_1.jpg' %}" alt="Image placeholder" class="mb-3">
                  <h4>Charles Bukowski</h4>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;Sin mi café de la mañana, soy sólo como una pieza dorada y seca de carnero&rdquo;.</p>
                <div class="author">
                  <img src="{% static 'site_static/img/person_2.jpg' %}" alt="Image placeholder" class="mb-3">
                  <h4>Johann Sebastian Bach</h4>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;¡La cagó!&rdquo;</p>
                <div class="author">
                  <img src="{% static 'site_static/img/person_3.jpg' %}" alt="Image placeholder" class="mb-3">
                  <h4>Rocío Peñasca</h4>
                </div>
              </blockquote>
            </div>          
          </div>
        </div>
      </div>
    </div>  
</div>